<nav>
  <a routerLink="/">Home</a> | <a routerLink="/about">About</a> |
  <a routerLink="/basic">Angular響應式核心基礎操作</a>|
  <a routerLink="/lifecycle">Angular常用生命週期</a> |
  <a [routerLink]="['/parent/child1']" [queryParams]="{ a: 100 }">Angular父子路由</a>|
  <a routerLink="/sharevar">Angular共享變數</a>|
  <a routerLink="/custom-component">Angular客製化元件</a>

</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
